/* * {
    outline: solid red;
} */

.top {
   
    display: flex;
    justify-content: center;
    align-items: center;
}



.display {
    display: flex;
   
    width: 300px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(53, 53, 53);
}

.digits-container {
    display: flex;
   background-color: rgb(53, 53, 53);
   justify-content: center;
    /* outline: solid black; */
    width: 300px;
}

.operands-container {
    display: flex;
    /* outline: solid  black; */
    
}

/* .num-0 {
    
} */

.threes {
    outline: solid black;
    background-color: rgb(53, 53, 53);
}



button {
    width: 50px;
    height: 50px;
}

.screen {
    width: 230px;
    height: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: solid black;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    
}



/* .main {
    outline: solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    margin: 0 auto;
} */

/* .digits {
    display: flex;
    flex: 1;
} */

/* .operands {
    display: flex;
    justify-content: center;
} */

/* .operands {
    outline: solid red;
} */