/* * {
    outline: solid red;
} */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rowdies:wght@300;400;700&display=swap');


.top {
    display: flex;
    justify-content: center;
    align-items: center;
}



.display {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(53, 53, 53);
    border-radius: 15px;
    
    
}

.digits-container {
   display: flex;
   background-color: rgb(53, 53, 53);
   justify-content: center;
   /* outline: solid black; */
   width: 300px;
   margin-bottom: 20px;
}

.operands-container {
    display: flex;
    /* outline: solid  black; */
    
}

/* .num-0 {
    
} */

.threes {
    /* outline: solid black; */
   
    gap: 10px;
    margin-top: 10px;
}

.three-1 {
    gap: 10px;
}

button {
    box-shadow: 3px 3px rgb(0, 0, 0);
}

.operands-container {
    box-shadow: none;
    display: flex;
}


button {
    width: 50px;
    height: 50px;
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    
    

}



.screen {
    width: 230px;
    height: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: solid black;
    font-family: "Orbitron", sans-serif;
    background-color: rgb(112, 112, 91);
    color: rgb(19, 19, 19);
}



/* .main {
    outline: solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    margin: 0 auto;
} */

/* .digits {
    display: flex;
    flex: 1;
} */

/* .operands {
    display: flex;
    justify-content: center;
} */

/* .operands {
    outline: solid red;
} */