/* * {
    outline: solid red;
} */

.top {
    outline: solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}



.display {
    display: flex;
    outline: solid red;
    width: 300px;
    flex-direction: column;
    align-items: center;
}

.digits-container {
    display: flex;
   
   justify-content: center;
    outline: solid red;
    width: 300px;
}

.operands-container {
    display: flex;
    outline: solid red;
    
}

.num-0 {
    outline: solid red;
}

.threes {
    outline: solid red;
}

button {
    width: 50px;
    height: 50px;
}

.screen {
    width: 230px;
    height: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* .main {
    outline: solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    margin: 0 auto;
} */

/* .digits {
    display: flex;
    flex: 1;
} */

/* .operands {
    display: flex;
    justify-content: center;
} */

/* .operands {
    outline: solid red;
} */